:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --main-color: #f73838;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


.grid__column-20 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-80 {
    padding-left: 5px;
    padding-right: 5px;
    width: 80%;
}

@keyframes faded {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}