.banner-img {
    background-size: contain;
    height: 50px;
}

.cskh {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.cskh-icon {
    font-size: 4rem;
    color: blue;
}
.header__contact {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    border-bottom: 1px solid rgb(233, 232, 232);
}

.header__contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__contact-item {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    color: var(--text-color);
    border-right: 1px solid #ccc;
    line-height: 12px;
}

.header__contact-item:last-child {
   border-right: none; 
}

.header__contact-item:first-child {
    padding-left: 0;
}

.header__account {
    width: 85px;
    border-radius: 2px;
    background-color: #f73838;
    padding: 3px 0 5px;
    text-align: center;
}   

.header__account-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;    

}

.header__account:hover {
    border: 1px solid #f73838;
    background-color: var(--white-color);
    cursor: pointer;
}

.header__account:hover .header__account-link {
    color: #f73838;
}

.header__2 {
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(233, 232, 232);
}

.header__logo {
    width: 250px;
}

.logo-img {
    width: 200px;
    height: auto;  
    display: block;
}

.header__search {
    position: relative;
    display: flex;
    flex: 1;
    height: 40px;
    border: 1px solid #f73838;
    align-items: center;
    border-radius: 4px; 
}

.search-input {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    color: #333;
    outline: none;
    border: none;
    padding: 0 16px;  
    border-radius: 4px;  
}

.search-btn {
    height: 100%;
    width: 11%;
    border-radius: 4px;
    background-color: var(--main-color);
    outline: none;
    border: none;
}

.search-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.search-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
}

.header__cart {
    position: relative;
    width: 180px;
    text-align: center;
}

.cart-icon {
    font-size: 2.0rem;
    color: var(--main-color);
    margin-top: 8px;
}

.header__cart-notify {
    display: flex;
    align-items: center;
    justify-content: center;    
    position: absolute;
    width: 350px;
    min-height: 100px;
    right: 0;
    top: 40px;
    border: 1px solid var(--main-color);
    border-radius: 4px; 
    padding: 0; 
    background-color: var(--white-color);
    display: none;
    animation: faded ease-in 0.5s;
    z-index: 2;
}

.header__cart-notify::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent var(--main-color) transparent;
    right: 76px;
    top: -20px;
}

.header__cart-notify::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 20px;
    right: 44px;
    top: -20px;  
}

.header__cart:hover .header__cart-notify {
    display: flex;
}
.cart-text-notice {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    margin: 0;

}
.search__keyword {
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    width: 90%;
    display: none;
    z-index: 1;
}

.search__key-list {
    list-style: none;
    padding: 0;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    background-color: var(--white-color);
}

.search__key-item {
    display: inline-block;
    padding: 10px 0 10px 10px;
}

.search__key-link {
    text-decoration: none;
    color: rgb(27, 140, 226);
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid rgb(184, 182, 182);
    padding: 6px 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 0 rgb(230, 228, 228);
}

.search__key-link:hover {
    color: var(--main-color);
}

.search-input:focus ~ .search__keyword {
    display: block;
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgb(233, 232, 232);

}

.header__nav-label {
    display: flex;
    align-items: center;
    width: 232px;
    height: 100%;
    background-color: #2d2d2d;
    font-size: 1.5rem;
    color: var(--white-color);
    border-radius: 2px;
}

.header__nav-label:hover {
    background-color: var(--main-color);
    animation: faded ease 1s;   

}
.nav__menu-icon {
    padding-left: 12px;
    margin: 0;

}

.nav__label {
    font-weight: 300;
    padding: 0 70px 0 16px;
    margin: 0;

}

.header__nav-list {
    list-style: none;
    padding: 0;
}

.header__nav-item {
    display: inline-block;
    font-size: 1.5rem;
}

.header__nav-link:hover {
    color: var(--main-color);
}

.header__nav-link {
    text-decoration: none;
    padding: 0 24px;
    color: var(--text-color);

}

.arrow-icon {
    padding-left: 4px;
    font-size: 1.3rem;
}

.header__nav-tble {
    position: relative;
}

.table__price {
    position: absolute;
    top: 100%;
    left: -20px;
    width: 250px;
    border: 1px solid rgb(241, 240, 240);
    border-top: none;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    padding: 20px 20px 0;
    box-shadow: 0 0 5px rgb(253, 253, 253);
    display: none;
    z-index: 1;
}

.header__nav-tble:hover .table__price {
    display: block;
    animation: faded ease-in 0.3s;
}
.price-sb {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid rgb(231, 228, 228);
}

.price-sb:hover {
    color: var(--mian-color);

}
.price-sb:last-child {
    border-bottom: none;
}
/* middle */
.middle {
    background-color: rgba(0,0,0,0.03);
}
.category__product {
    margin-top: 10px;   
    background-color: var(--white-color);
}

.product__menu {
    list-style: none;
    padding: 0;
}

.product__menu-list {
    border: 1px solid rgb(223, 220, 220);
    border-radius: 2px;
    padding: 10px 20px;
    position: relative;
}

.product__menu-list__prt {
    position: absolute;
    left: 240px;
    top: 0;
    width: 960px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #eee;
    border-radius: 2px;
    display: none;
    z-index: 1;
   
}

.aa12315 {
    width: 100%;   
    display: flex;
    flex-wrap: wrap;
     
}

.grid__column-25 {
    width: 25%;
}


.product__heading {
    font-size: 1.6rem;
    margin: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.product__heading:hover,
.list__product-link:hover {
    color: var(--main-color);
}

.product__menu-list:hover .product__menu-list__prt {
    display: block;
}
.list__product-label {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.list__product-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 40px 10px;

}


.product-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.product-link:hover {
    color: var(--main-color);
}

.product-link-icon {
    position: absolute;
    visibility: hidden;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.product-link:hover .product-link-icon {
    visibility: visible;
}

.gallery__slide-img {
    display: flex;
    position: relative;
    padding-top: 1px;
}


.slide-img75 {
    width: 100%;
}


.gallery__img25 {
    width: 25%;
}

.gallery-img-static {
    display: flex;
}

.gallery__img-aa {
    margin-top: 10px;
    margin-bottom: 20px;
}

.icon-slide-left,
.icon-slide-right {
    position: absolute;
    top: 50%;
    padding: 16px;
    font-size: 1.8rem;
    color: var(--white-color);
    width: auto;
    border-radius: 0 3px 3px 0;
    background-color: #f73838;
    cursor: pointer;
}

.icon-slide-right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* shock-prt */

.shock__prt-title {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
    width: 100%;
    align-items: center;
}

.shock__prt-title > h3 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #29337a;
}

.shock__prt-title > a {
    color: #348CD0;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
}

.shock__product-list {
    width: 100%;
    margin: 0 5px 20px;
    display: flex;
    flex-wrap: wrap;
}

.shock__product-link {
    text-decoration: none;
}
.shock__product-item {
    width: 20%;
    border: 1px solid rgb(240, 232, 232);
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 0 2px rgb(226, 224, 224);
}

.shock__prt-img {
    background-size: contain;
    width: 200px; height: 200px;
    margin: 10px 20px 5px;
}

.shock__prt-name {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    line-height: 2.4rem;
    height: 4.0rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}   

.prt-guarantee {
    display: block;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 20px 5px;
}
.shock__prt-price {
    padding: 0 20px;
}
.prt-price-old {
    display: block;
    color: #9b9797;
    font-size: 1.4rem;
    text-decoration: line-through;  
}

.prt-price-new {
    display: block;
    color: var(--text-color);
    font-size: 1.5rem;
}
.shock__prt-star {
    text-align: center;
    padding-bottom: 10px;
}
.star-icon {
    color: var(--main-color);
}